/* -------------------------------------------------- */
/* Header */
/* -------------------------------------------------- */

.hdr-cnt{
    background-color: #ffffff;
    height: 129px;
}

.srch-box{
    border-radius: 1.25rem;
    background-color: #000000;
    opacity: 0.05;
    color: #3d3d3d;
    height: 46px;
    width: 276px;
}
.hdr-logo {
    position: relative;
    display: inline-block;
    height: 60px;
    width: 160px;
    background: url(/assets/Header/vault-logo.svg) no-repeat 0 0;
    background-size: 100%;
    cursor: pointer;
}

.hdr-item-cnt {
    position: relative;
    top: 22px;
    margin-left: 70px;
}

